h1 {
    text-align : center;
    color: ivory;
}

main{
    background-color:#1A68A6ff ;    
}

body {
    background-color: slategray;
}

img {
    width: 400px;
    height: 400px;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    background-color: #1A68A6ff;
  }